* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden !important;
}

.container {
	max-width: 100% !important;
	overflow-x: hidden !important;
}


/*---- text styling ----*/
p {
	font-family: 'iAWriterMonoS-Regular', monospace;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.02em;

	/* Inconsolata styling
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.02em; */
}

a {
	color: #000000;
	text-decoration: none;

}

a:hover {
	font-family: 'iAWriterMonoS-Italic';

}

b {
	font-family: 'iAWriterMonoS-Bold';
}

.pointer {
	cursor: pointer;
}


/*---- div styling ----*/
div.main {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	width: 470px;
	float: left;
}

div.intro {
	margin-bottom: 40px;
}

div.right {
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	width: 450px;
	float: left;
}

div.work {
	margin: 0px;
}

div.case-study {
	width: 650px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.case-study-img {
	width: 100%;
	height: auto;
}

.thumbnail {
	width: 100%;
	height: auto;
	margin-top: 4px;
}

.project {
	margin-top: 0px;
	margin-bottom: 20px;
}

.project-header {
	margin-bottom: 4px;
}


/*------ Fonts -----*/
@font-face {
	font-family: "iAWriterMonoS-Regular";
	src: url("fonts/iAWriterMonoS-Regular.eot");
	src: url("fonts/iAWriterMonoS-Regular.woff") format("woff"),
		url("fonts/iAWriterMonoS-Regular.woff2") format("woff2");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "iAWriterMonoS-Bold";
	src: url("fonts/iAWriterMonoS-Bold.eot");
	src: url("fonts/iAWriterMonoS-Bold.woff") format("woff"),
		url("fonts/iAWriterMonoS-Bold.woff2") format("woff2");
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: "iAWriterMonoS-Italic";
	src: url("fonts/iAWriterMonoS-Italic.eot");
	src: url("fonts/iAWriterMonoS-Italic.woff") format("woff"),
		url("fonts/iAWriterMonoS-Italic.woff2") format("woff2");
	font-style: notmal;
	font-stretch: normal;
}


/*------ Screen Sizes -----*/
@media screen and (max-width: 1372px) {
	div.main {
		padding-top: 20px;
		padding-bottom: 44px;
		padding-left: 20px;
		padding-right: 20px;
		width: 470px;
		float: left;
	}

	div.right {
		padding-top: 20px;
		float: left;
	}

}

@media screen and (max-width: 1010px) {

	div.main {
		padding-top: 20px;
		padding-bottom: 44px;
		padding-left: 20px;
		padding-right: 20px;
		width: 470px;
		float: left;
	}

	div.right {
		padding-top: 20px;
		float: left;
	}

}

@media screen and (max-width: 650px) {

	div.main {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		width: calc(100% - 40px);
		float: left;
	}

	div.right {
		width: calc(100% - 40px);
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		float: left;
	}

	div.case-study {
		width: calc(100% - 40px);
	}

}

@media screen and (max-width: 460px) {

	div.main {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		width: calc(100% - 40px);
		float: left;
	}

	div.right {
		width: calc(100% - 40px);
		padding-top: 20px;
		padding-left: 20px;
		float: left;
	}

}

@media screen and (max-width: 320px) {

	div.main {
		width: calc(100% - 20px);
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		/* width: 320px; */
		float: left;
	}

	div.right {
		width: calc(100% - 20px);
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		float: left;
	}

	p {
		font-size: 17px;
	}
}